body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #555dc0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button:hover {
    transform: scale(1.05);
}

/*title*/
#title {
    color: #e0e0e0;
    position: absolute;
    top: 515px;
    transform: rotate(0deg);
    font-family: 'LEMON MILK', sans-serif;
    text-shadow: 3px 4px #222222;
    font-size: 30px;
}

/*enclosing box*/
#enclosing-box {
    background-color: #444bb3;
    padding: 30px 30px 40px 30px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 5px 7px 4px #222;
}

/*container*/
#container {
    height: 400px;
    width: 400px;
    border: 35px solid rgb(63, 63, 60);
    border-bottom-width: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;
    gap: 0px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 3px 8px #222;
}

div.square {
    box-sizing: border-box;
    border: 0.2px solid white;
}

@keyframes fade-in {
  from  { 
      opacity: 0%;
  }
  to {
      opacity: 100%;
  }
}
.square:hover {
    transform: scale(1.1)
}

/*button-box*/
#button-box {
    display: flex;
    gap:10px;
    padding: 20px 10px 10px 10px;
    border: 1px solid #444bb3;
    width: 455px;
    justify-content: space-evenly;
    align-items:flex-start;
    background-color: #444bb3;
}

/*slider-container*/
#colormode {
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(68,68,68, 1);
    color: #fff;
    font-weight: bold;;
    border-radius: 5px;
    box-shadow: 1px 3px 4px #222;
}

.slider {
    -webkit-appearance: none;
    border-radius: 5px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
    gap: 8px;
    width: 150px;
    background-color: #303796;
    border-radius: 8px;
    box-shadow: 3px 5px 4px #222;
}

.slider-header {
    height:20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'LEMON MILK', sans-serif;
    font-size: 12px;
    
}

.slider-num-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: rgba(68,68,68, 1);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 3px 4px #222;
}

/*pens*/
#pens {
    display:flex;
    width: 200px;
    height: 100px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

#toggle-white {
    background-color: gold;
    border-color: goldenrod;
    border-radius: 50px;
    padding:10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#reset {
    background-color: tomato;
    border-color: crimson;
    border-radius: 50px;
    padding:10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#toggle-color {
    background-color: yellowgreen;
    border-color: seagreen;
    border-radius: 50px;
    box-shadow: 20px #222;
    padding:10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#eraser {
    background-color: dodgerblue;
    border-color: royalblue;
    border-radius: 50px;
    padding:10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.space {
    width: 50px;
}

.space-darker {
    background-color: #303796;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
}

.space-darker-0 {
    background-color: #303796;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 3px 5px 4px #222;
}

.space-darker-1 {
    background-color: #303796;
    height: 58px;
    width: 40px;
    display: flex;
    align-items: center;
}

.space-darker-2 {
    background-color: #303796;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.space-darker-3 {
    background-color: #303796;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 3px 5px 4px #222;
}

.space-darker-4 {
    background-color: #303796;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 3px 5px 4px #222;
}