body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-box {
    display: flex;
    gap:10px;
    padding: 10px;
}

    #colormode {
    height:30px;
}

div.square {
    box-sizing: border-box;
    border: 0.8px solid black;
}

@keyframes fade-in {
  from  { 
      opacity: 0%;
  }
  to {
      opacity: 100%;
  }
}

.square:hover {
    transform: scale(1.1)
}

#container {
    height: 590px;
    width: 590px;
    border: 5px solid burlywood;
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;
    gap: 0px;
    box-sizing: border-box;
}


